.main_chat
  .main_header
    .main_header__left_box
      %h2.main_header__left_box__group
        = @group.name
      %ul.main_header__left_box__member_list
        Member：
        %li.main_header__left_box__member_list__member
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group) do
      .main_header__edit_btn
        Edit

  .messages
    = render @messages


  .form
    = form_for [@group, @message] do |f|
      .input_box
        = f.text_field :content, class: 'input_box__text', placeholder: 'type a message'
        = f.label :image, class: 'input_box__image' do
        
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input_box__image__file'
      = f.submit 'Send', class: 'submit_btn'