.side_bar
  .side_header
    .side_header__box
      %p.side_header__box__user_name
        = current_user.name 
      %ul.side_header__box__menu
        %li.side_header__box__menu__new_grope
          = link_to new_group_path do
            = icon('fas', 'pen-square', class: 'icon')
        %li.side_header__box__menu__edit_user
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')

  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__group_name
            = group.name
          .group__message
            = group.show_last_message